body {
    background-color: #b6e2ed;
}

.div-box {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.div1{
    margin-right: 110px;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #ff8888;
}

.div2{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #7e8aeb;
    top: 110px;
    left: 110px;
}

.div3 {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #4def99;
    top: 110px;
    left: 110px;
}